*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
libs/
src/main/java/com/mean/mypermissions/ModulePreferenceProvider.java
src/main/java/com/mean/mypermissions/dao/AppConfigDao.java
src/main/java/com/mean/mypermissions/dao/DaoMaster.java
src/main/java/com/mean/mypermissions/dao/DaoSession.java
src/main/java/com/mean/mypermissions/receiver/ImplantReceiver.java
src/main/java/com/mean/mypermissions/utils/PreferenceUtils.java
src/main/java/com/mean/mypermissions/utils/SuUtil.java
